body{
    background-image: url("338.jpg");
    background-size: cover;
    margin: 0;
}
.grand{
    background-color: white;
    height: 100vh;
    position: absolute;
    width: 100%;
    bottom: -130px;
}
.grand .sousgrand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: -120px;
    width: 100%;
    
}
.grand .sousgrand1{
    width: 35%;
    height: 100vh;
    background-color: rgb(241, 240, 240);
    padding: 60px 30px 40px 100px;
    

}
.grand .sousgrand1 div .s1{
    position: relative;
    top: 0;
    display: flex;
    flex-direction:row ;
    align-items: center;
     gap: 30px;
}
.grand .sousgrand1 div img{
    width: 50px;
    height: 50px;
}
.grand .sousgrand1 .gs div h1{
    color: gold;
}
.grand .sousgrand1 .gs .s1 p{
    font-weight: bolder;
}
.grand .sousgrand1 .gs .s1 div p{
    color: rgb(121, 121, 121);
    font-weight: 100;
}
.grand .sousgrand2{
    width: 35%;
    height: 100vh;
    background-color: gold;
    padding: 60px 30px 40px 60px;
    text-align: center;
    
}


.grand .sousgrand2 form{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    gap: 20px;
}
.grand .sousgrand2 form input{
    padding: 15px 0px 15px 9px;
    border: none;
}
.grand .sousgrand2 form textarea{
    padding: 15px 0 30px 9px;
    border: none;
}
.grand .sousgrand2 form a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 8px 15px 8px 15px;
    width: 80px;
}
.grand .sousgrand0{
    position: absolute;
    transform: rotate(270deg);
    background-color: black;
    color: white;
    width: 450px;
    padding: 4px 50px 4px 30px;
    left: -190px;
    top: 300px;
 
}
